<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797969937440-n2ao8hisustq6ofnj7p84d3g3d5dcn2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797969937440-n2ao8hisustq6ofnj7p84d3g3d5dcn2u</string>
	<key>API_KEY</key>
	<string>AIzaSyBXHLMRajnS8CFw25ejEg0skF6cQGOmCeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>797969937440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expandableAttempt</string>
	<key>PROJECT_ID</key>
	<string>air-2204-test</string>
	<key>STORAGE_BUCKET</key>
	<string>air-2204-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797969937440:ios:f736df653e40be5b2ff845</string>
	<key>DATABASE_URL</key>
	<string>https://air-2204-test-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>